## YODA_CODEIGNITER_ROOT: A relative path from the portal docroot to the codeigniter directory
##                        (i.e. from /.../portal-repo/public/ to /.../codeigniter/).
##                        No trailing slashes.
RewriteEngine on
RewriteCond $1 !^(index\.php|robots\.txt|js/|css/|fw/)
RewriteRule ^(.*)$ %{ENV:YODA_PORTAL_ROOT}/index.php/$1 [L]

SetEnvIf YODA_CODEIGNITER_ROOT ^$ YODA_CODEIGNITER_ROOT=../../CodeIgniter
SetEnvIf CI_APPLICATION ^$ CI_APPLICATION=../yoda-portal
